@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Click on @Html.ActionLink("Game", "Index", "Game") to see the game! Don't get your hopes up too much though!
            </p>
        </div>
    </section>
}
<h3>Technologies used:</h3>
<ol class="round">
    <li class="one">
        <h5><a href="http://createjs.com">CreateJS</a></h5>
        <a href="http://createjs.com">CreateJS</a> is a suite of Javascript libraries & tools for building rich, 
        interactive experiences with HTML5.
    </li>

    <li class="two">
        <h5><a href="http://asp.net/mvc" title="ASP.NET MVC Website">ASP.NET MVC 4</a></h5>
        To learn more about ASP.NET MVC visit
        <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
        The page features videos, tutorials, and samples to help you get the most from ASP.NET MVC.
        If you have any questions about ASP.NET MVC visit
        <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
    </li>

    <li class="three">
        <h5><a href="https://www.windowsazure.com">Windows Azure</a></h5>
        <a href="https://www.windowsazure.com">Windows Azure</a> enables you to quickly build, 
        deploy and manage applications across a global network of Microsoft-managed datacenters. 
        You can build applications using any operating system, language or tool.
    </li>
</ol>
