@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Click on @Html.ActionLink("Game", "Index", "Game") to see the game! Don't get your hopes up too much though!
            </p>
        </div>
    </section>
}
<h3>Some stuff here:</h3>
<ol class="round">
    <li class="one">
        <h5>Thing 1</h5>
        Do some stuff
    </li>

    <li class="two">
        <h5>Thing 2</h5>
        Do some other stuff
    </li>

    <li class="three">
        <h5>Thing 3</h5>
        Do even more stuff
    </li>
</ol>
